#value-input {
  font-size: 18;
}

#input-delay {
  margin: 10px;
  background-color: #000;
  color: rgb(51, 102, 0);
  font-weight: 800;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 3000ms ease-in-out;
  padding: 5px;
  text-align: center;
}

#input-delay:hover {
  color: rgb(34, 34, 34);
  background-color: rgb(51, 102, 0);
  color: #fff;
  transform: scale(1.2);
  transition: all 0.8s;
}
